<!-- {% load static %} -->

{% load staticfiles %}


<!DOCTYPE html>


<html lang="en">
<head> 
	 <title>AG</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <script src="{% static 'dist/js/bootstrap.js' %}"> </script>
    <script src="{% static 'dist/js/main.js' %}"> </script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
 
  <link href="{% static 'dist/css/style.css' %}" rel="stylesheet">


<style>
  .crono_wrapper {text-align:center;width:200px;}
</style>

</head>
<body>
 <div class="row">
  <div class="col-sm-4">
  
 </div> 

<input type="button" style="text-align:center;"  value="test" id="bt_test" onclick="get_response_res()"/>

</div> 
  
  <!-- <div class="col-sm-2"><input style="text-align:center;" type="button" class="submit" value="res" onclick="getres()"></div> -->
 
  <div ></div>
  <div id="Statut" >
    <h1>Np:</h1><input style="text-align:center;" type="number"  id="id_Np">
    <h1>Nd</h1><input style="text-align:center;" type="number"  id="id_Nd">
  </div>




 

      
                                                      </body>
                                                      </html>
